<div [innerHTML]="xss"></div> /<!--xss has an xss attack that is not triggered because it's been purified-->
<table class="table is-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Word Count</th>
            <th>Snippet</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let page of pages">
            <td>{{page.title}}</td>
            <td>{{page.wordcount}}</td>
            <td [innerHTML]="page.snippet"></td>
        </tr>
    </tbody>
</table>

<!--innerHTML as a property in angular has an extra step purifying the content in case there is an XSS attack-->
<!-- https://www.owasp.org for more xss prevention-->